@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,500,700&display=swap);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body {
	background-color: #FFFFFF;
	/*цвет фона*/
	font-family: Ubuntu;
	/* шрифт и тип шрифта*/
	height: 100%;
	/* высота */
	min-width: 320px;
	/*минимальная ширина*/
	line-height: 1;
	/*межстрочный интервал*/
	color: #666666;
	/*цвет шрифта*/
	font-size: 20px;

}

[class*='__container'] {
	/*создали контейнер, который будет содержать всю основную часть страницы*/
	max-width: 1230px;
	/* увеличили ширину на 30px, тк добавили отступы справа и слева по 15px */
	margin: 0 auto;
	padding: 0px 15px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/*----------------------------------------------------*/
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/*----------------------------------------------------*/
.page {
	flex: 1 1 auto;
}


.page__main {}

/*----------------------------------------------------*/

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.header__container {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	gap: 100px;
	align-items: center;
	min-height: 100px;
}

.header__logo {}

.header__menu {}


.menu {
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

.menu__list {
	display: flex;
	column-gap: 50px;
	row-gap: 10px;
	flex-wrap: wrap;
}

.menu__item {}

.menu__link {
	color: black;
	font-weight: 500;
}

.menu__link:hover {
	text-decoration: underline;
}

@media (max-width: 1092px) {
	.header__container {
		gap: 10px;
		min-height: 100px;
	}

	.menu__list {
		gap: 40px;
	}
}

/*----------------------------------------------------*/
.main {
	padding-bottom: 80px;
}

.main__container {
	display: flex;
}

.main__content {
	flex: 0 1 50%;
	align-self: flex-end;
	padding-top: 120px;
	padding-bottom: 60px;
	padding-right: 20px;
}

.main__title {
	color: black;
	font-size: 45px;
	font-weight: bolder;
}

.main__title:not(:last-child) {
	margin-bottom: 16px;
}

.main__text {
	line-height: 24px;
	font-size: 20px;
	font-weight: 500;
	max-width: 420px;
}

.main__text:not(:last-child) {
	margin-bottom: 51px;
}

.main__action {}

.action_main {
	display: flex;
	align-items: center;
}

.action_main__button {
	padding: 18px 48px;
	background-color: #ff6428;
	border-radius: 40px;
	font-weight: 600;
	line-height: 28px;
	color: white;
}

.main__decor {
	flex: 0 1 50%;
}

.main__img {
	display: inline-block;
	position: relative;
	margin-right: -135px;
	max-width: 460px;
}

@media (max-width: 1092px) {
	.main__img img {
		width: 100%;
	}

	.main__content {
		flex: 0 0 70%;
		padding-bottom: 0px;
	}

	.main__decor {
		flex: 0 0 30%;
	}
}

@media (max-width: 767px) {
	.main__content {
		flex: 1 1 100%;
		padding-right: 0;
		padding-top: 160px;
	}

	.main__decor {
		display: none;
	}

	.main__title {
		font-size: 35px;
	}

}

/*----------------------------------------------------*/

.h1 {
	font-size: 30px;
	text-align: center;
	width: 100%;
	font-family: Times New Roman;
	font-weight: bold;
	font-style: italic;
	color: black;
	min-height: 80px;
}

/*----------------------------------------------------*/

/*.h1{
	font-size: 30px;
	text-align: center;
	width: 100%;
	font-family: Palatino Linotype;
	font-weight: bold;
	font-style: italic;
	color:  black;
}

img{
	/*поместил картинку в блок, чтобы можно было отдельно подвинуть отдельно от текста*/
/*width: 280px;
	margin-left: 20px;
	margin-top: 5px;
}

.header{
	background-color: #C0C0C0;
	border-width: 0.14px;
	border-color: #b5b7ba;
	border-style: solid;
	height: 34px;
	text-align: center;
	padding-top: 17px;

}

.header_text{
	color: black;
	font-size: 15px;
	font-weight: 100;
	padding-right: 20px;
}

div a{
	color: black;
	font-size: 15px;
	font-weight: 100;
	padding-right: 0px;

}

.content {
	margin-top: 65px;
}


.image{
	width: 320px;
	height: 300px;
	margin-left: 200px;
	box-sizing: border-box; /* чтобы значение ширины и высоты блока не менялись*/
/*display: inline-block;
	border-width: 0px;
	border-color: black;
	border-style: solid;
	float: left;
}

.text{
	margin-left: 0px; /*отступ блока от внешней страницы*/
/*text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
	padding-top: 0px; /*отступ текста внутри блока*/
/*width: 900px;
	height: 300px;
	display: inline-block;
	border-width: 0px;
	border-color: black;
	border-style: solid;
	padding-left: 10px;
	margin-left: 20px;
	background-color: white;
	font-size: 17px;

}

.map {
	background-color: white;/*#FAEBD7*/
/*font-size: 15px;
	font-family: Palatino Linotype;
	color: black;
	padding-right: 30px;
	border-width: 0.14px;
	border-color: white;
	border-style: solid;
	margin-top: 120px;

}

.map_riddle {
	background-color: white;/*#FAEBD7*/
/*font-size: 15px;
	font-family: Palatino Linotype;
	color: black;
	padding-right: 30px;
	border-width: 0.14px;
	border-color: white;
	border-style: solid;
	margin-top: 137px;

}

.map_guess {
	background-color: white;/*#FAEBD7*/
/*font-size: 15px;
	font-family: Palatino Linotype;
	color: black;
	padding-right: 30px;
	border-width: 0.14px;
	border-color: white;
	border-style: solid;
	margin-top: 292px;

}

.footer{
	position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: #434445;
    color: white;
    margin: 0;

}

.box{
	margin-left: 50px;
	margin-top: 100px;
}

.box_guess{
	margin-left: 50px;
	margin-top: 100px;
}

.button{
	border-width: 0px;
	border-color: violet;
	border-style: solid;
	width: 100px;
	margin-top: 10px;
	text-align: center;
	color: yellow;
	background-color: #87CEFA;
	border-radius: 4px;
}

.button:hover{
	background-color: #AFEEEE;
}

.button:active{
	background-color: #87CEFA;
}*/